/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* App styles */
.app {
  margin: 52px;
  max-width: 600px;
  min-width: 300px;
}

/* Header styles */


.header--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  margin-right: 4px;
  font-size: large;
}

form {
  margin-top: 32px;
}

h1 {
  font-size: 54px;
}

/* Todo styles */

.todo {
  margin-top: 42px;
}

/* Todocard styles */

.todocard {
  display: flex;
  margin-top: 18px;
  align-items: center;
  justify-content: start;
}

.todocard--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  margin-left: 8px;
  font-size: 18px;
}

.delete {
  color: #dc143c;
  margin-left: 24px;
}

.done {
  color: darkgreen;
}

.todocard--text {
  font-size: 18px;
}
