/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.app {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

/* App Styles */

.container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 80%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 12px;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-right: 80px;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    margin-right: 20px;
    gap: 20px;
  }

  nav h1 {
    font-size: 2rem;
  }

}

/*  Main Todo Section */



.main-todo,
.past-todos {
  /* margin: 3.25em; */
  margin-top: 6em;
  max-width: 420px;
  min-width: 300px;
  width: 30%;
}

/* Past Todo Section */

.past-todos--text {
  color: lightgray;
  font-size: 1.1rem;
  margin-top: 0.14em;
  inline-size: 90%;
  overflow-wrap: break-word;
}

.past-todos--h1 {
  color: #bebebe;
}

/* Header styles */

.header--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  margin-right: 0.14em;
  font-size: large;
}

input::placeholder {
  color: #a9a9a9;
}

form {
  margin-top: 2em;
}

h1 {
  font-size: 3.38rem;
}

/* Todo styles */

.todo {
  margin-top: 2.62em;
  padding-bottom: 1.8em;
}

/* Todocard styles */

.todocard {
  display: flex;
  margin-top: 1.125em;
  align-items: center;
}

.todocard--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  font-size: 1.125rem;
  flex: none;
}

.done {
  margin-left: auto;
  color: grey;
}

.todocard--button:hover {
  color: darkgreen;
}

.todocard--text {
  font-size: 1.1rem;
  inline-size: 90%;
  overflow-wrap: break-word;
}

.cleartasks--button {
  font-size: 1.1rem;
  margin-top: 1.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  color: grey;
}

.cleartasks--button:hover {
  color: black;
}

/* nav */
