/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* App Styles */


.app {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

@media (max-width: 760px) {
  .app {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*  Main Todo Section */
.main-todo {
  margin: 3.25em;
  max-width: 420px;
  min-width: 300px;
  width: 30%;
}

/* Past Todo Section */

.past-todos {
  margin: 3.25em;
  max-width: 420px;
  min-width: 300px;
  width: 30%;
}

.past-todos--text {
  color: lightgray;
  font-size: 1.1rem;
  margin-top: .14em;
  inline-size: 90%;
  overflow-wrap: break-word;
}

.past-todos--h1 {
  color: #BEBEBE
}


/* Header styles */


.header--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  margin-right: .14em;
  font-size: large;
}

input::placeholder {
  color: #A9A9A9;
}

form {
  margin-top: 2em;
}

h1 {
  font-size: 3.38rem;
}

/* Todo styles */

.todo {
  margin-top: 2.62em;
  padding-bottom: 1.8em;
}

/* Todocard styles */

.todocard {
  display: flex;
  margin-top: 1.125em;
  align-items: center;
}

.todocard--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  font-size: 1.125rem;
  flex: none;
}

.done {
  margin-left: auto;
  color: grey;
}

.todocard--button:hover {
  color: darkgreen;
}

.todocard--text {
  font-size: 1.1rem;
  inline-size: 90%;
  overflow-wrap: break-word;
}

.cleartasks--button {
  font-size: 1.1rem;
  margin-top: 1.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  color: grey;
}

.cleartasks--button:hover {
  color: black;
}
